// rem 单位换算:定为 75px 只是方便运算，750px-75px、 640-64px、1080px-108px，如此类推
// iPhone 6 尺寸（375）的根元素大小基准值 
$vw_fontsize: 75;
@function rem($px) {
  @debug $px;
  @return ($px / $vw_fontsize) * 1rem;
}

$vw_design: 750;

html {
  // 根元素字体使用 vw 单位 
  font-size: ($vw_fontsize / $vw_design) * 100vw;
  // 同时，通过 Media Queries 限制根元素最小值、最大值
  @media screen and (max-width: 320px) {
    font-size: 32px;
  }
  
  @media screen and (min-width: 750px) {
    font-size: 75px;
  }
  
}

// body 也增加最大最小宽度限制，避免默认100%宽度的 block 元素跟随 body 而过大过小
body {
  min-width: 320px;
  max-width: 768px; // 兼容 Tablet
  margin: auto;
}

p {
  margin-top: rem(8);
  margin-bottom: rem(8);
}

